.footer2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;

}

.header2__links {
    display: flex;
    margin-bottom: 10px;
}

.header2__links > h3 {
    text-decoration: none;
    color: grey;
    font-weight: 500;
    font-size: 15px;
    margin-left: 10px;
}